[% USE Whostmgr -%]
[% WRAPPER 'master_templates/master.tmpl'
    theme = 'bootstrap'
    header = page_title
    stylesheets = [ '/help4-disk-usage/help4-disk-usage-whm.css' ]
    scripts = [ '/help4-disk-usage/help4-disk-usage.js' ]
-%]
[% page_content %]
[% END %]
